header {
    background-color: #2a5cc9; /* cor de fundo*/
    color: #f3f0f0;/* cor de fonte*/
    text-align: center;/* centraliza o texto horizontalmente*/
    max-width: 800px;/* define a largura máxima que o elemento pode ter*/
    margin: 0 auto;/* centreliza o bloco inteiro na tela*/
    padding: 16px;/*espaçamento interno entre a borda e o conteúdo*/
} 

h1{
    color:#5888cf;
}

main {
    background-color: #f0e6e6;
    color :#040544;
    max-width: 800px;
    margin : 0 auto;
    padding: 16px;
    display: flex: /* ativa o flexor
}

img {
    width : 80px;
    height: 80px;
}