body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #05064b;
    color: #fff;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

h1{
    color: #4c4eb8;
}

main{ 
    background-color: #39aacc00;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display: flex;
    margin-bottom: 60px;
}

img{
    
    width: 150px;
    height: 150px;
    border: 2px solid #05064b;
     display: block;
    margin: 0 auto;
    align-self: center;
   
    
}

.artigo-autor{
    font-weight: bold;
}

.texto-curto{
    max-width: 65ch;
}

footer{
    background-color: #77c5dd00;
    color: #ce5151;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;
}
